.git
.dockerignore
.gitignore
.github/*
docker-compose.yml
Dockerfile
Makefile
pre-commit
README.md

**/*.orig
**/*.log
**/.DS_Store
**/.git

# Python
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/*.so
**/.Python
**/*.egg-info
**/*.egg

.env/**/*
.env

dist
node_modules